ion-content {
  --background: #f4f6f9;
}

/* ===========================
   HEADER
=========================== */

ion-toolbar {
  --background: #111827;
  --color: white;
}

ion-title {
  font-weight: 700;
}

/* ===========================
   CARDS
=========================== */

ion-card {
  border-radius: 18px;

  box-shadow:
    0 4px 10px rgba(0,0,0,0.08);

  margin-bottom: 18px;
}

ion-card-title {
  font-weight: 700;
}

/* ===========================
   INPUTS
=========================== */

ion-item {

  --background: white;

  border-radius: 12px;

  margin-bottom: 10px;
}

ion-label {
  font-weight: 600;
}

ion-searchbar {

  --background: white;

  --border-radius: 12px;

  padding-left: 0;
  padding-right: 0;
}

/* ===========================
   LISTA HOSPITALES
=========================== */

ion-list {

  max-height: 220px;

  overflow-y: auto;

  border-radius: 12px;

  margin-bottom: 15px;

  border: 1px solid #ddd;
}

/* ===========================
   BOTONES
=========================== */

ion-button {

  margin-top: 12px;

  height: 46px;

  font-weight: 700;

  --border-radius: 12px;
}

/* ===========================
   ERRORES
=========================== */

small {

  color: #dc2626;

  font-size: 0.8rem;

  margin-left: 6px;
}

/* ===========================
   TABLA
=========================== */

table {

  width: 100%;

  border-collapse: collapse;

  margin-top: 10px;

  background: white;
}

thead {

  background: #111827;

  color: white;
}

th {

  padding: 10px;

  text-align: left;

  font-size: 0.85rem;
}

td {

  padding: 10px;

  border-bottom: 1px solid #e5e7eb;

  font-size: 0.9rem;
}

tbody tr:last-child {

  background: #f3f4f6;

  font-weight: bold;
}

/* ===========================
   RESUMEN
=========================== */

.resumen {

  margin-top: 20px;

  background:
    linear-gradient(
      135deg,
      #111827,
      #1f2937
    );

  color: white;

  padding: 20px;

  border-radius: 16px;
}

.resumen h2 {

  margin-top: 0;

  margin-bottom: 12px;
}

.resumen p {

  line-height: 1.7;
}

/* ===========================
   INTERPRETACIONES
=========================== */

.interpretacion-card {

  margin-top: 18px;

  background: white;

  border-left: 5px solid #111827;

  padding: 18px;

  border-radius: 14px;

  box-shadow:
    0 2px 8px rgba(0,0,0,0.05);
}

.interpretacion-card h3 {

  margin-top: 0;

  color: #111827;
}

.interpretacion-card p {

  line-height: 1.7;

  color: #374151;
}

/* ===========================
   RESPONSIVE
=========================== */

@media (max-width: 768px) {

  table {

    font-size: 0.8rem;
  }

  th,
  td {

    padding: 6px;
  }
}